{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Создать пользователя {% endblock %}</h1>

<form method="POST">
    <div class="form-group">
        <label for="title">ФИО</label>
        <input type="text" name="title"
               placeholder="ФИО пользователя" class="form-control"
               value="{{ request.form['title'] }}">
    </div>

    <div class="form-group">
        <label for="description">Описание</label>
        <textarea name="description" placeholder="Описание пользователя"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>

<form action="{{ url_for('index') }}" method="GET">
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Отменить</button>
    </div>
</form>

{% endblock %}